{% extends "master.html.twig" %}

{% block title %}Cart{% endblock %}
{% block headExtra %}
    <script type="text/javascript">
        $(document).ready(function() {
            var $select = $('.quantity');
            for (i=1;i<=100;i++)
            {
                $select.append($('<option></option>').val(i).html(i));
            }
            
            $('.quantity').change(function(){
                var q=$(this);
                $.ajax("/ajax/cart/set/prod/"+q.attr('cartID')+"/quantity/"+q.val())
                .done(function() {
                    alert( "Success changing the quantity." );
                    var total=(q.val()*q.attr('price')).toFixed(2);
                    $("#price[productID='"+q.attr('productID')+"']").text(total+"$");
                })
                .fail(function() {
                  alert( "There was an error changing the quantity." );
                });
            });
            
            $('.order').click(function(){
                $(location).attr('href', "/order");
            });
            
            $('.delete').click(function(){
                $(location).attr('href', "/cart/delete/"+$(this).attr('productID'));
            });
            
        });
    </script>
{% endblock %}
{% block mainContent %}
    {% if productList %}
        <table>
            <tr>
                {% if user == "admin " %}
                <th>ID</th>
                {% endif %}
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                {% if user == "admin " %}
                <th>Options</th>
                {% endif %}
                <th>Quantity</th>
            </tr>
            {% for product in productList %}
                <tr>
                    {% if user == "admin " %}
                    <td>{{ product.id }}</td>
                    {% endif %}
                    <td><a href="/product/{{product.id}}">{{ product.name }}</a></td>
                    <td><div productID="{{product.id}}" id="price">{{ (product.price * product.quantity)|number_format(2, '.', ',') }}$</div></td>
                    <td>{{ product.description|slice(0, 100) }}</td>
                    <td><img src="/../{{product.image_path}}" alt="Hardware Product" height="150" width="150"></td>
                    <td> 
                        <select class="quantity" productID="{{product.id}}" price="{{ product.price }}" cartID="{{ product.cartID }}" quantity="{{ product.quantity }}"><option selected>{{ product.quantity }}</option></select>
                    </td>
                    <td><button class="delete" productID="{{ product.id }}">Delete</button></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" class="order" value="Submit an order">    
    {% else %}
        <span>There are currently no products in the cart.</span>
    {% endif %}
{% endblock %}