{% extends "master.html.twig" %}

{% block title %}Add or edit a category{% endblock %}

{% block mainContent %}
    
    {% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
            <form method="POST">
            <div class="tags" style="text-align: center;"><span>CATEGORY</span></div>
            <span> Category Name: <input type="text" name="name" value="{{ categoryName }}"><br></span>
            <input type="submit" value="Add / Edit"><br><br>
            </form>
{% endblock %}