{% extends "master.html.twig" %}
{% block title %}Product Submitted{% endblock %}
{% block mainContent %}
    {% if addedit == 0 %}
        <p>Category added.</p>
    {% else %}
        <p>Category edited.</p>
    {% endif %}
{% endblock %}
