{% extends "master.html.twig" %}
{% block title %}Category List{% endblock %}
{% block headExtra %}
    <script src="/plugin/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetalert2.min.css">
    <script type="text/javascript">
        $(document).ready(function() {
            $('.delete').click(function() {
                $row=$(this).attr('categoryID');
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then(function () {
                    swal(
                      'Deleted!',
                      'The category has been deleted.',
                      'success'
                    );
                    $(location).attr('href', "/admin/category/delete/"+$row);
                });
            });
            
            $('.edit').click(function(){
                $(location).attr('href', "/admin/category/addedit/"+$(this).attr('categoryID'));
            });
            
        });
    </script>
{% endblock %}
{% block mainContent %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            {% if user == "admin" %}
            <th>Options</th>
            {% endif %}
        </tr>
        {% for category in categoryList %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                {% if user == "admin" %}
                <td>
                    <button class="edit" categoryID="{{ category.id }}">Edit</button>
                    <button class="delete" categoryID="{{ category.id }}">Delete</button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}