{% extends "master.html.twig" %}

{% block title %}Forbidden{% endblock %}

{% block mainContent %}
    <span> Page accessible to authorized users only. You must <a href="/login"> log in</a> to access it.</span>
{% endblock %}