{% extends "master.html.twig" %}

{% block title %}Log in{% endblock %}

{% block mainContent %}
            <form method="POST">
            <p> Username: <input type="text" name="name" autofocus value="{{ username }}"><br></p>
            <p> Password: <input type="password" name="pass" value="{{ password }}"><br></p>
            <input type="submit" value="Login"><br><br>
            </form>
{% endblock %}