{% extends "master.html.twig" %}
{% block title %}Hardware Store{% endblock %}
{% block headExtra %}{% endblock %}
{% block mainContent %}
    <div class="tags" style="text-align: center;"><span>HARDWARE STORE</span></div>
    {% for product in productList %}
        <div class="quarter" style="display: inline-block;">
          {{ product.name }}
          <img src="/../{{product.image_path}}" alt="Hardware Product">
        </div>
    {% endfor %}
{% endblock %}

    