{# READ ABOUT TEMPLATE INHERITANCE at
    http://twig.sensiolabs.org/doc/2.x/tags/extends.html #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Hardware Store{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/plugin/menu/dist/sidebar-menu.css">
        <script src="/plugin/menu/dist/sidebar-menu.js"></script>
        <script>
            $(document).ready(function () {
                $.sidebarMenu($('.sidebar-menu'));
            });
        </script>
    {% block headExtra %}{% endblock %}
</head>
<body style="background: url('http://localhost:8003/bg4.jpg') #E0CCD2 repeat center center fixed;">

    <div class="container black" style="min-height: 1080px">
        <div class="quarter" style="min-height: 1080px">
            <div class="padded">
                <section class="section">
                    <ul class="sidebar-menu">
                        <li class="sidebar-header" style="text-align: center;">HARDWARE STORE</li>
                        <li><a href="/main"><i class="fa fa-home"></i> <span>Home</span></a></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-th"></i> <span>Categories</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                {% for category in categoryList %}
                                    <li><a href="/category/{{ category.id }}"><i class="fa fa-square-o"></i> {{ category.name }}</a></li>
                                    {% endfor %}
                            </ul>
                        </li>
                        {% if user == "" %}
                            <li><a href="/login"><i class="fa fa-keyboard-o"></i> <span>Log in</span></a></li>
                            {% else %}
                            <li><a href="/logout"><i class="fa fa-keyboard-o"></i> <span>Log out</span></a></li>
                            {% endif %}
                        <li><a href="/cart"><i class="fa fa-opencart"></i> <span>Cart</span>
                                {% if quan > 0 %}
                                    <span class="label label-primary pull-right">{{ quan }}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="threequarters white" style="min-height: 1080px">          
            <div class="padded">
                {% block mainContent %}
                    <p>No content</p>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>