{% extends "master.html.twig" %}

{% block title %}Order{% endblock %}

{% block mainContent %}
  
    {% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
            <form method="POST" enctype="multipart/form-data">
            <div class="tags" style="text-align: center;"><span>ORDER</span></div>
            <span> First Name: <input type="text" name="firstName" autofocus value="{{ v.firstName }}"><br></span>
            <span> Last Name: <input type="text" name="lastName" value="{{ v.lastName }}"><br></span>
            <span> Address: <input type="text" name="address" value="{{ v.address }}"><br></span>
            <span> Post Code: <input type="text" name="postCode" value="{{ v.postCode }}"><br></span>
            <span> Country: <input type="text" name="country" value="{{ v.country }}"><br></span>
            <span> Province / State: <input type="text" name="province" value="{{ v.province }}"><br></span>
            <span> Email: <input type="text" name="email" value="{{ v.email }}"><br></span>
            <span> Confirm Email: <input type="text" name="cemail" value="{{ v.cemail }}"><br></span>
            <span> Phone: <input type="text" name="phone" value="{{ v.phone }}"><br></span>
            <span> Credit Card No: <input type="text" name="cnum" value="{{ v.cnum }}"><br></span>
            <span> Credit Card Expirity: <input type="date" name="cex" value="{{ v.cex }}"><br></span>
            <span> Credit Card CVV: <input type="text" name="ccvv" value="{{ v.ccvv }}"><br></span>
            <span> Total before taxes and delivery: <input type="text" name="pretotal" value="{{ pretotal }}" readonly><br></span>
            <span> Delivery: <input type="text" name="delivery" value="15" readonly><br></span>
            <span> Taxes: <input type="text" name="taxes" value="12%" readonly><br></span>
            <span> Total: <input type="text" name="total" value="{{ total }}" readonly><br></span>
            
            <input type="submit" value="Submit the order"><br><br>
            </form>
{% endblock %}