{% extends "master.html.twig" %}

{% block title %}Add or edit a product{% endblock %}

{% block mainContent %}
  
    {% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
            <form method="POST" enctype="multipart/form-data">
            <div class="tags" style="text-align: center;"><span>PRODUCT</span></div>
            <span> Name: <input type="text" name="name" autofocus value="{{ v.name }}"><br></span>
            <span> Description: </span><textarea name="description" style="display: inline-block;">{{ v.description }}</textarea>
            <span> Price: <input type="number" name="price" value="{{ v.price }}" min="1" step="any"><br></span>
            <span> Category:<select name="category">
            <option value="none"> ---- </option>
            {% for category in categoryNames %}
                {% if category == v.categoryName %}
                    <option selected="selected" value="{{ v.categoryName }}"> {{ v.categoryName }}</option>
                {% else %}
                    <option value="{{ category }}"> {{ category }}</option>
                {% endif %}
            {% endfor %}
            </select></span>
            <span> Image: <input type="file" name="imageUpload"><br></span>
            <span> Front Page:<br>
                <input type="radio" name="fp" value="no" checked> No<br>
                <input type="radio" name="fp" value="yes"> Yes
            </span>
            <input type="submit" value="Add / Edit"><br><br>
            </form>
{% endblock %}