{% extends "master.html.twig" %}

{% block title %}Product List{% endblock %}
{% block headExtra %}
    <script src="/plugin/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetalert2.min.css">
    <script type="text/javascript">
        $(document).ready(function() {
            $('.delete').click(function() {
                $row=$(this).attr('productID');
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then(function () {
                    swal(
                      'Deleted!',
                      'The product has been deleted.',
                      'success'
                    );
                    $(location).attr('href', "/admin/product/delete/"+$row);
                });
            });
            
            $('.edit').click(function(){
                $(location).attr('href', "/admin/product/addedit/"+$(this).attr('productID'));
            });
            
            $('.addToCart').click(function(){
                $(location).attr('href', "/cart/add/"+$(this).attr('productID'));
            });
        });
    </script>
{% endblock %}
{% block mainContent %}
    <table>
        <tr>
            {% if user == "admin" %}
            <th>ID</th>
            {% endif %}
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            {% if user == "admin" %}
            <th>Options</th>
            {% endif %}
        </tr>
        {% for product in productList %}
            <tr>
                {% if user == "admin" %}
                <td>{{ product.id }}</td>
                {% endif %}
                <td><a href="/product/{{product.id}}">{{ product.name }}</a></td>
                <td>{{ product.price }}$</td>
                <td>{{ product.description }}</td>
                <td><img src="/../{{product.image_path}}" alt="Hardware Product" height="350" width="350"></td>
                {% if user == "admin" %}
                <td>
                    <button class="edit" productID="{{ product.id }}">Edit</button>
                    <button class="delete" productID="{{ product.id }}">Delete</button>
                </td>
                {% endif %}
                <td><button class="addToCart" productID="{{ product.id }}">Add to Cart</button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}